# 源代码
src/
packages/
tests/
__tests__/

# 配置文件
.eslintrc.js
.prettierrc.js
.prettierignore
.eslintignore
.gitignore
jest.config.js
tsconfig.json
rollup.config.js

# 编辑器配置
.vscode/
.idea/

# 其他文件
*.log
.DS_Store
coverage/
node_modules/

# 开发时的临时文件
*.swp
*.swo
.env
.env.* 